* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html {
    background-color: rgb(40, 22, 56);
}

/* navbar section*/

.navbar {
    margin-top: -32px;
    padding: 0 50px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 22, 56);

}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    transition: font-size 1s;
}

/* navbar animation */

.navbar a:hover {
    font-size: 0.9rem;
}

/* hero section */

.home-container {
    height: 70vh;
    background-color: rgb(126, 72, 173);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
    border-bottom-right-radius: 500px;
    color: white;
    color: black;
}

.container-text {
    height: 30vh;
    width: 30vw;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;

}

.container-img {
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 40vw;
}

.home-container img {
    width: 600px;
    height: 600px;
}

.container-text span {
    font-size: 3.2rem;
    font-weight: 700;
    color: rgb(140, 98, 176);
    transition: font-size 1s;
}

/* hero section animation */

.container-text span:hover {
    cursor: pointer;
    font-size: 3rem;
}

/* education container section */

.edu-container {
    height: 110vh;
    background-color: rgb(40, 22, 56);
    /* border-bottom-left-radius: 500px; */
    padding: 40px 30px;
    display: flex;
}

/* education left section */

.edu-left {
    height: 90vh;
    width: 50vw;
}

.edu-left img {
    height: 80vh;
    width: 45vw;
}

/* education right section */

/* education right text section */

.edu-right {
    height: 90vh;
    width: 60vw;
    color: white;
}

.edu-text {
    text-align: center;
    height: 20vh;
    width: 30vw;
    margin: 30px auto;
}

.edu-text {
    font-size: 3rem;
    font-weight: 500;
}

.edu-text span {
    font-size: 3.2rem;
    font-weight: 700;
    transition: font-size 1s;
    color: rgb(140, 98, 176);
}


/* education right text animation */

.edu-text span:hover {
    cursor: pointer;
    font-size: 3rem;
}



/* education right boxes section */

.edu-boxes {
    height: 60vh;
    width: 45vw;
    margin: auto;
    padding: 30px;
    border-radius: 50px;
}

.edu-box {
    height: 12vh;
    padding: 10px;
    width: 90%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.edu-box img {
    height: 70px;
    border-radius: 50%;
    transition: height 1s;

}

.box-text {
    width: 70%;
}


.box-text p {
    font-weight: 500;
}

.box-text span {
    font-size: 1.2rem;
    font-weight: 600;
    transition: font-size 1s;
    color: rgb(140, 98, 176);

}

/* box-text animation */

.edu-box img:hover {
    cursor: pointer;
    height: 60px;
}

.box-text span:hover {
    cursor: pointer;
    font-size: 0.9rem;
}

/* work experience section */

.work-container {
    height: 110vh;
    background-color: rgb(27, 15, 37);
    border-top-left-radius: 400px;
    border-bottom-right-radius: 500px;
    display: flex;
    align-items: center;
    color: white;
}

/* work container left section */

.work-left {
    width: 40%;
    height: 90vh;
    padding: 30px 0;
    margin: 20px;
}

.work-text p {
    width: 80%;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin: 10px auto;
}

.work-text span {
    font-size: 3.2rem;
    font-weight: 700;
    color: rgb(140, 98, 176);
    transition: font-size 1s;
}

.work-boxes {
    height: 65vh;
    width: 40vw;
    margin: 20px auto;
    padding: 10px;
}

.work-box-top {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.work-box-top img {
    height: 80px;
    transition: height 1s, border-radius 1s;
}

.work-box-text p {
    padding: 2px;
    margin: 5px;
    font-size: 1.2rem;
}

.work-box-text span {
    color: rgb(140, 98, 176);
    font-size: 1.3rem;
    font-weight: 600;
    transition: font-size 1s;
}

.work-box-bottom {
    padding: 0 30px;
    margin: 20px 0;
    font-size: 1.5rem;
}

/* work container left animations */

.work-text span:hover {
    cursor: pointer;
    font-size: 3rem;
}

.work-box-text span:hover {
    cursor: pointer;
    font-size: 1.1rem;

}

.work-box-top img:hover {
    cursor: pointer;
    height: 78px;
    border-radius: 20px;
}


/* work container right section */

.work-right {
    margin: 20px;
    width: 60%;
    height: 90vh;
    padding: 30px 0;
}

.work-right img {
    height: 450px;
}

/* skills section */

.skill-container {
    height: 110vh;
    background-color: rgb(40, 22, 56);
    /* border-top-left-radius: 500px;
    border-bottom-left-radius: 500px; */
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-img img {
    height: 100vh;
}

.skill-right p {
    width: 40vw;
    font-size: 3rem;
    font-weight: 600;
    color: white;

}

.skill-right span {
    font-size: 3.2rem;
    font-weight: 700;
    color: rgb(140, 98, 176);
    transition: font-size 1s;
}

.skill-logos {
    height: 50vh;
    width: 30vw;
    gap: 30px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.logo {
    height: 100px;
    transition: height 1s;
}

/* skill logos animations */

.logo:hover {
    cursor: pointer;
    height: 110px;
}

.skill-right span:hover {
    cursor: pointer;
    font-size: 3rem;
}


/* certificate container */

.certificate-container {
    height: 150vh;
    background-color: rgb(27, 15, 37);
    border-top-left-radius: 400px;
    padding: 20px;
}

/* certificate container top section */


.certificate-top {
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.certificate-top p {
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.certificate-top span {
    font-size: 3.2rem;
    font-weight: 700;
    cursor: pointer;
    color: rgb(140, 98, 176);
    transition: font-size 1s;
}


/* certificate container bottom section */

.certificate-bottom {
    height: 50vh;
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px;
}

.certificate-box img {
    height: 60vh;
    width: 40vw;
    transition: height 1s, width 1s;
}

/* certificate container animations */

.certificate-top span:hover {
    font-size: 3rem;
}

.certificate-box img:hover {
    cursor: pointer;
    height: 58vh;
    width: 38vw;
}

/* contactme container section */

.contactme-container {
    padding: 20px 0;
    height: 102vh;
    width: 100%;
    background-color: white;
    /* border-top-left-radius: 700px;
    border-bottom-right-radius: 700px; */

}

.contactme-text {
    width: 100%;
    height: 8vh;
    text-align: center;
    margin-bottom: 50px;
}

.contactme-text p {
    font-size: 3rem;
    font-weight: 600;
}

.contactme-text span {
    font-size: 3.2rem;
    font-weight: 700;
    color: rgb(140, 98, 176);
    cursor: pointer;
    transition: font-size 1s;
}

/* contactme container form section */

form {
    background-color: rgb(40, 22, 56);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 25vw;
    max-width: 600px;
    border-radius: 10px;
    margin: 10px auto;
}

form p {
    text-align: center;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 1.5rem;

}

form span {
    color: rgb(140, 98, 176);
    font-size: 1.7rem;
    transition: font-size 1s;
    cursor: pointer;
}

form input,
form textarea {
    border: none;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: rgb(45, 27, 61);
    color: white;
    font-size: 16px;
}

form button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 40%;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(140, 98, 176);
    border-radius: 20px;
    margin: 5px auto;
    transition: font-size 1s;
}

.contactme-container ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.contactme-container ul li {
    padding-top: 10px;
    list-style: none;
    font-size: 3rem;
    transition: font-size 1s;
}


/* contactme container animations */


.contactme-text span:hover {
    font-size: 3rem;
}

form span:hover {
    font-size: 1.5rem;
}

form button:hover {
    font-size: 1.3rem;
}

.contactme-container ul li:hover {
    font-size: 2.8rem;
}